.carousel-container {
    width: 100%;
    overflow: hidden;
    min-height: 80vh;
    /* background-color: blue; */
    padding: 2.5%;
  }

  .carousel-content {
    padding: 2.5%;
    display: flex;
    flex-wrap: nowrap; 
    transition: transform 0.3s ease; 
    /* background-color: green; */
    min-height: 40vh;
    gap: 2.5%;
    overflow-x: auto;

}
  
  .card {
  
    flex: 0 0 calc(100% / 3); 
    max-width: calc(100% / 3); 
    box-sizing: border-box; 
    padding: 16px; 
    border: 3px solid #FF5722;
    border-radius: 25px; 
    position: relative; 
    background-color: #dfdfdf;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    opacity: 0.9;
    color: #424242;

}

.poster {
  width: 100%;
  height: 45%;
}


.close-button {
   
    position: absolute;
    top: 1vw; 
    right: 1vw;
    width: 3vw; 
    height: 3vw; 
    background-color:#FBC02D;
    border-radius: 50%; 
    border-color: #c19423;
    border-style: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    opacity: 0.9;
  }
  
  .close-button:hover {
    background-color: #c19423; 
    border-color: #FBC02D;
  }

  .close-icon {
    width: 1.5vw; 
    height: 1.5vw; 
  }

  hr {
    border: none;
    height: 2px;
    background-color: #424242; 
    
  }

#movieTitleInput {
  border: 2px solid #3737b0; 
  border-radius: 50px; 
  padding: 10px; 
  width: 30%; 
  display: block;
  margin-left: auto;
  margin-right: auto;

}

#movieTitleInput:focus {
  outline-color: #FF5722; 
}

.ovalButton {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  border: none;
  cursor: pointer;

  /* Oval shape */
  border-radius: 50px;

  /* Outline color */
  border: 2px solid #3737b0;
  color: #696969;
}

.ovalButton:hover,
.ovalButton:focus {
  background-color: #FF5722; 
  color: #fff; 
}

/* #clearAll {
  border: 2px solid #3737b0;
} */

#clearAll:hover,
#clearAll:focus {
  background-color: #f0351d; 
  color: #fff; 
}
