.carousel-container {
    width: 100%;
    overflow: hidden;
    min-height: 80vh;
    /* background-color: blue; */
    padding: 2.5%;
  }

  .carousel-content {
    padding: 2.5%;
    display: flex;
    flex-wrap: nowrap; 
    transition: transform 0.3s ease; 
    /* background-color: green; */
    min-height: 40vh;
    gap: 2.5%;
    overflow-x: auto;

}
  
  .card {
  
    flex: 0 0 calc(100% / 3); 
    max-width: calc(100% / 3); 
    box-sizing: border-box; 
    padding: 16px; 
    border: 3px solid #000;
    border-radius: 25px; 
    position: relative; 
    background: radial-gradient(circle, #34e7e4, #6f71e3, #a43bdc);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    opacity: 0.9;

}

.close-button {
   
    position: absolute;
    top: 1vw; 
    right: 1vw;
    width: 3vw; 
    height: 3vw; 
    background-color:#34e7e4;
    border-radius: 50%; 
    border-color: darkred;
    border-style: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    opacity: 0.9;
  }
  
  .close-button:hover {
    background-color: darkred; 
    border-color: red;
  }

  .close-icon {
    width: 1.5vw; 
    height: 1.5vw; 
  }

  hr {
    border: none;
    height: 2px;
    background-color: #000; 
  }